@import "compass/css3";

$alturaTopMenu: 54px;
$larguraSideBarValue: 18.57143;
$larguraSideBar: $larguraSideBarValue * 1em;
$larguraSideBarPixels: round($larguraSideBarValue * 14);
$fontSideBar: 0.92em;

body {
  &.menu-opened {
    .sc-loading {
      left: calc(50% + #{($larguraSideBar / 1.5) / 2});
    }
    #main-page{
      #main-content{
        width: calc(100% - #{$larguraSideBar});
      }
    }
  }
  &.with-menu {
    #header-bar {
      .logo {
        padding-left: 0;
      }
    }
  }
  &.only-content {
    #main-page {
      padding-top: 0;
      #main-content #top-bar #top-bar-content {
        left: 0 !important;
        top: 0 !important
      }
    }
  }
}

.menu-icon {
  position: relative;
  width: 1.875em;
  height: 1.875em;
  @include transition(all .3s);
  @include transform(rotate(-180deg));
  span {
    height: 3px;
    width: 1.5em;
    background-color: #fff;
    position: absolute;
    @include transition(all .3s);
    &:nth-of-type(1) { top:  .375em; left: .1875em; }
    &:nth-of-type(2) { top: .8125em; left: .1875em; }
    &:nth-of-type(3) { top:  1.25em; left: .1875em; }
  }
  &.back {
    @include transform(rotate(0deg));
    span {
      &:nth-of-type(1) {
        top: .5em;
        left: 0;
        width: 1em;
        @include transform(rotate(-45deg));
      }
      &:nth-of-type(2) {
        top: .8125em;
        left: .1875em;
        width: 1.3em;
      }
      &:nth-of-type(3) {
        top: 1.125em;
        left: 0;
        width: 1em;
        @include transform(rotate(45deg));
      }
    }
  }
  &.close {
    @include transform(rotate(0deg));
    span {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        top:  .875em;
        left: .1875em;
        @include transform(rotate(-45deg));
      }
      &:nth-of-type(3) {
        top:  .875em;
        left: .1875em;
        @include transform(rotate(45deg));
      }
    }
  }
}

#header-bar {
  height: $alturaTopMenu;
  width: 100%;
  top: 0;
  background-color: #244560;
  position: fixed;
  z-index: 100;
  .menu-action {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 4em;
    -ms-flex: 0 0 4em;
    flex: 0 0 4em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 10em;
    -ms-flex: 0 0 10em;
    flex: 0 0 10em;
    padding-left: .6em;
    img { display: block; height: 42px; }
  }
  .actions {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    .actions-icon {
      color: rgba(255,255,255,.7);
      i.big-icon { font-size: 1.6em; }
      &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &.active {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.20);
      }
    }
  }
}

#main-page {
  padding-top: $alturaTopMenu;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  #side-bar {
    font-size: $fontSideBar;
    position: relative;
    z-index: 99;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0;
    -ms-flex: 0 0 0;
    flex: 0 0 0;
    &, a {
      color: rgba(255,255,255,.75);
      text-decoration: none;
    }

    &.opened {
      #side-bar-content {
        left: 0;
      }
    }

    #side-bar-content {
      top: $alturaTopMenu;
      right: 0;
      bottom: 0;
      left: -#{$larguraSideBar / $fontSideBar}em;
      width: #{$larguraSideBar / $fontSideBar}em;
      background-color: #244560;
      position: fixed;
      overflow-y: auto;
    }

    #perfil {
      background-color: rgba(0,0,0,.2);
      .photo {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 21%;
        -ms-flex: 0 0 21%;
        flex: 0 0 21%;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 1.1em 0;
        div {
          width: 3.3em;
          height: 3.3em;
          border-radius: 100%;
          background-size: cover;
          background-position: center;
          &.no-photo {
            text-align: center;
            padding-top: 0.3em;
            i {font-size: 2.5em}
          }
        }
      }
      .info {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 79%;
        -ms-flex: 0 0 79%;
        flex: 0 0 79%;
        padding-left: 1em;
        font-size: .85em;
        line-height: 1.7em;
        .name { text-transform: uppercase; }
      }
      .actions {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        a {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          text-align: center;
          padding: .8em 0;
          background-color: rgba(0,0,0,.15);
          @include transition(all .2s);
          &:hover { color: #fff; }
          &:nth-of-type(1):hover { background-color: rgba(51,122,183,.5); }
          &:nth-of-type(2):hover { background-color: rgba(199,48,48,.6); }
        }
      }
    }

    #condominio {
      background-color: rgba(0,0,0,.2);
      .selected {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        .logo {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 18%;
          -ms-flex: 0 0 18%;
          flex: 0 0 18%;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          padding: 1em 0;
          div {
            width: 2em;
            height: 2em;
            border-radius: 100%;
            background-size: contain;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            @include box-shadow(0 0 0 1px #fff);
          }
        }
        .name {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 82%;
          -ms-flex: 0 0 82%;
          flex: 0 0 82%;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 0 1.3em 0 .65em;
          text-transform: uppercase;
          i { @include transition(all .3s); }
        }
        &:hover {
          color: #fff;
        }
      }
      .lista {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        .search {
          background-color: rgba(0,0,0,.25);
          padding: .2em 1.5em;
          position: relative;
          input {
            display: block;
            border: none;
            border-radius: .3em;
            box-shadow: none;
            color: #fff;
            background-color: transparent;
            width: 100%;
            padding: .9em 1.5em .9em 0;
            &:focus, &:active { border: none; outline: none; box-shadow: none; }
            &::-webkit-input-placeholder { color: #fff; }
            &:-moz-placeholder           { color: #fff; }
            &::-moz-placeholder          { color: #fff; }
            &:-ms-input-placeholder      { color: #fff; }
          }
          > i {
            position: absolute;
            right: 1.3em;
            top: calc(50% - .5em);
          }
        }
        ul {
          max-height: 16.5em;
          overflow-y: auto;
          li {
            a {
              display: block;
              padding: .8em 1.6em;
              text-transform: uppercase;
              &:hover { color: #fff; }
            }
            &:nth-of-type(odd) { background-color: rgba(0,0,0,.1); }
            &.pre-selected { background: rgba(0, 0, 0, 0.39) !important; }
          }
        }
      }
    }

    #side-menu {
      margin-top: 1.5em;
      margin-bottom: 2em;
      text-transform: uppercase;
      > ul {
        > li {
          border-bottom: 1px solid rgba(255,255,255,.05);
          &:nth-of-type(1) { border-top: 1px solid rgba(255,255,255,.05); }
          > a, > div {
            padding: 1em 1.6em;
            @include transition(background .4s);
            i.icon-menu {
              width: 1.4em;
              height: 1.4em;
              line-height: 1.5em;
              font-size: 1.4em;
              margin-right: .5em;
              background: transparent;
              border-radius: 100%;
              text-align: center;
              @include transition(all .3s);
            }
            &.active {
              background-color: rgba(0,0,0,.08);
              color: #fff;
            }
            &:hover {
              background-color: rgba(0,0,0,.2);
              @include transition(background .1s);
              color: #fff;
            }
            &.opened {
              background-color: rgba(0,0,0,.2);
              color: #fff;
            }
            &.active i.icon-menu {
              background: #fff;
              color: #1D374D;
            }
            span {
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
            }
          }
          > div {
            position: relative;
            .icon-filhos {
              font-size: .7em;
              margin-left: .8em;
              padding: 0;
              @include transition(all .3s);
            }
          }
          ul {
            li {
              a {
                padding: .9em 1.5em;
                i {
                  font-size: 1em;
                  margin-left: .9em;
                  padding-right: 1em;
                }
                &:hover {
                  background-color: rgba(0,0,0,.2);
                  @include transition(background .1s);
                  color: #fff;
                }
                &.active {
                  background-color: rgba(0,0,0,.2);
                  color: #fff;
                }
                span {
                  -webkit-box-flex: 1;
                  -webkit-flex: 1;
                  -ms-flex: 1;
                  flex: 1;
                }
              }
            }
            &.opened { background-color: rgba(0,0,0,.2); }
          }
        }
      }
      .new-menu {
        color: #fff;
        background: #c74848;
        padding: .2em .4em;
        border-radius: .3em;
        font-size: .7em;
        margin-left: .6em;
      }
    }
  }

  #main-content {
    position: static;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    #top-bar {
      z-index: 97;
      position: relative;
      #top-bar-content {
        padding: .6em .8em;
        background-color: #f3f3f4;
        &.fix {
          position: fixed;
          top: $alturaTopMenu;
          right: 0;
          left: 0;
        }
        &.fixed {
          @include box-shadow(0 0 .3em rgba(0,0,0,.3));
        }
        &:after {
          content: '';
          clear: both;
          display: block;
        }
      }
      #top-bar-filter {
        position: relative;
        margin: 0 -0.8em;
        > * {
          position: absolute;
          top: .6em;
          left: 0;
          right: 0;
          background-color: #ECECEE;
          border-top: 1px solid #DBDBDC;
          @include box-shadow(0 .8em 1.6em rgba(0,0,0,.35));
        }
        hr {
          border-top-color: #C6C9CD;
          border-top-width: 1px;
          border-bottom-width: 0;
          border-bottom-style: solid;
        }
      }
    }
    #breadcrumb {
      color: #7d858c;
      font-size: 0.8em;
      padding: 0 1em .6em;
      background-color: #f3f3f4;
      border-bottom: 1px solid #D7D9DB;
    }
  }
}

.sc-notify-center {
  position: relative;
  .sc-notify-icon { height: $alturaTopMenu; }
}
.sc-top-menu-dropdown-box-list {
  line-height: normal;
  max-height: 28em;
  width: 20em;
  position: absolute;
  right: 0;
  overflow-y: auto;
  border-bottom-right-radius: .4em;
  border-bottom-left-radius: .4em;
  text-shadow: none;
  color: #7d858c;
  a { color: #7d858c }
  .sc-top-menu-item {
    overflow: auto;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.08) inset;
    min-height: 3.7em;
    .sc-top-menu-img {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 3em;
      -ms-flex: 0 0 3em;
      flex: 0 0 3em;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: .25em;
      i {
        font-size: 1.7em;
        color: #627C93;
      }
      div {
        border-radius: 100%;
        width: 2em;
        height: 2em;
        background-position: center;
        background-size: cover;
        background-color: #fff;
        box-shadow: 0 0 0 2px rgba(98, 124, 147, 0.5);
      }
    }
    .sc-top-menu-msg {
      overflow: hidden;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: .7em .5em .7em .25em;
      b { color: #6C8193; }
    }
    &.sc-top-menu-unread { background: #E1E9EF; }
    &:hover { background: #E9EEF2; }
  }
}


.video-full-width {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.box-support-feeds{
  width: 16.7em;
  height: 3.3em;
  margin-top: 0.3em;
  color: rgba(255, 255, 255, 0.70);
  background-color: rgba(0, 0, 0, 0.40);
  border-radius: .3em;
  .feed-items{
    width: 100%;
    padding: 0.2em 0.8em;
    cursor: pointer;
    .feed-item{
      font-size: .9em;
    }
    &:hover{
      color: white;
      background-color: rgba(0, 0, 0, 0.40);
    }
  }
}

@media (min-width: #{$larguraSideBarPixels + 960}px) {
  .menu-opened {
    #main-page #main-content #top-bar #top-bar-content {
      &.fix { left: $larguraSideBar; }
    }
    .wysiwyg-toolbar.fix{
      left: $larguraSideBar;
    }
  }
  #header-bar, #top-bar, #top-bar-content, #side-bar, #side-bar-content {
    @include transition(all .25s);
  }
  #main-page  #side-bar {
    &.opened {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 #{$larguraSideBar / $fontSideBar}em;
      -ms-flex: 0 0 #{$larguraSideBar / $fontSideBar}em;
      flex: 0 0 #{$larguraSideBar / $fontSideBar}em;
    }
  }
}

@media (max-width: #{$larguraSideBarPixels + 959}px) {
  body.menu-opened { overflow: hidden; }
  #main-page {
    #side-bar {
      #side-bar-content {
        @include transition(left .2s);
      }
    }
    .overlay-menu {
      z-index: 98;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(50,100,143,0.2);
    }
  }
}

@media (max-width: 959px) {
  #main-page {
    #top-bar {
      #top-bar-filter {
        > * {
          max-height: 23.1em;
          overflow: auto;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .sc-notify-center {
    position: static;
  }
  .sc-top-menu-dropdown-box-list {
    width: auto;
    right: .5em;
    left: .5em;
  }
}
body[data-enviroment='staging']{
  #header-bar{
    background: #1C1D1D;
  }
  #main-page #side-bar #side-bar-content{
    background-color: #2B2B2B;
  }
}
