/* Accordion */
/************************
* Estilo do accordion do
* sistema
************************/
@import "_sc-colors.scss";
@import "_sc-helpers.scss";
@import "sistema/responsive_vars.scss";
@mixin accordion-color($main-color, $toolbar-color, $main-text-color, $color-schema: light, $force-color: false){
  $divider-color: transparent;
  $hover-color: transparent;
  $text-color: transparent;

  @if $color-schema == "light" {
    $text-color: sc-color("gray");
    $hover-color: lighten($text-color, 3);
    $divider-color: darken(desaturate($main-color, 13), 7);
  } @else if $color-schema == "dark" {
    $text-color: sc-color("gray-lighter");
    $hover-color: darken($text-color, 3);
    $divider-color: lighten(desaturate($main-color, 6), 5);
  }

  &:first-of-type {border-top: 1px solid $divider-color;}
  & > .sc-accordion-head {
    position: relative;
    background-color: $main-color;
    border-bottom: 1px solid $divider-color;
    & > .sc-divider {border-right:1px solid $divider-color;}

    transition: background-color .2s;
    &.sc-acc-selected {
      background-color: darken($main-color, 6);
      &:hover {
        background-color: darken($main-color, 11);
      }
    }
    &:hover { background-color: darken($main-color, 3); }

    @if $force-color == true {
      color: $main-text-color;
      & > * { color: $main-text-color;}
    } @else {
      color: $main-text-color;
    }
  }

  & > .sc-accordion-body{
    & > .sc-accordion-toolbar{
      background-color:$toolbar-color;
      * {
        color: $text-color;
        &:hover{ color: lighten($text-color, 3); }
      }
    }
  }
}

ul.sc-accordion {

  & > li {
    display: block;

    & > .sc-accordion-head {
      cursor:pointer;
      border: none;
      width:100%;

      &:not(.flex-row) {
        display: table;
        table-layout: fixed;
        & > * {
          display: table-cell;
          vertical-align: middle;
        }
      }

      & > * {
        padding: sc-space(md) sc-space(sm);
        word-wrap: break-word;

        @for $i from 1 through 12 {
          &.col-xs-#{$i}, &.col-sm-#{$i}, &.col-md-#{$i}, &.col-lg-#{$i}{float:none}
        }

        &.sc-accordion-icon-col{ width:3em; text-align: center; }
        &.sc-accordion-elastic-col{ width:100%; }
        @for $i from 1 through 30 { &.sc-accordion-col-#{$i}{ width:#{$i}em; } }

        &.title {
          font-weight: bold;

          & .description {
            font-size: .8em;
            font-weight: normal;
            display: block;
          }
        }

        &.sc-divider {border-right:1px solid #CCC;}
      }

      &::after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }

      &.sc-acc-hover-gray:hover   { background-color: sc-color("gray-lighter")   }
      &.sc-acc-hover-blue:hover   { background-color: sc-color("blue-lighter")   }
      &.sc-acc-hover-cian:hover   { background-color: sc-color("cian-lighter")   }
      &.sc-acc-hover-green:hover  { background-color: sc-color("green-lighter")  }
      &.sc-acc-hover-red:hover    { background-color: sc-color("red-lighter")    }
      &.sc-acc-hover-yellow:hover { background-color: sc-color("yellow-lighter") }
    }

    & > .sc-accordion-body {
      background-color: darken(sc-color("gray-lighter"), 4);
      border-bottom: 1px solid darken(sc-color("gray-lighter"), 7);
      &.sc-light{background-color: white;}
      padding: 0 0 sc-space(xl);

      & > .sc-accordion-element{ padding: sc-space(sm); }

      & > .sc-accordion-toolbar{
        padding: sc-space(xs);
        text-align: right;

        font-size: 1.3em;

        .sc-btn{
          padding: 0 .5em;
          font-size:1em;

          &.sc-btn-boxed{
            background-color: rgba(255,255,255,0.3);
            border-radius: .3em;
          }
        }
      }
    }

    > .flex-row {
      > * {
        display: flex;
        align-items: center;
      }

      &.flex-column {
        @media (max-width: #{$sm-device-width - 1}px) {
          flex-direction: column;
          flex-wrap: wrap;
          height: 3.2em;
          > * { padding: 0 .2em; }

          .fcol-order-0,
          .fcol-order-5 {
            flex: 0 0 100%;
            max-height: 100%;
            width: 2.5em
          }

          .fcol-order-1,
          .fcol-order-2 {
            justify-content: flex-start;
            width: calc(100% - 14em); // 2.5em + 2.5em + 9em
            max-width: none
          }

          .fcol-order-3,
          .fcol-order-4 {
            justify-content: flex-end;
            width: 9em;
            max-width: none
          }

          .fcol-order-2,
          .fcol-order-4 {
            flex: 0 0 47%;
            max-height: 47%;
            align-items: flex-start;
            > * { font-size: .9em; }
          }

          .fcol-order-1,
          .fcol-order-3 {
            flex: 0 0 53%;
            max-height: 53%;
            align-items: flex-end;
          }

          .fcol-order-0 { order: 0 }
          .fcol-order-1 { order: 1; font-weight: bold }
          .fcol-order-2 { order: 2 }
          .fcol-order-3 { order: 3 }
          .fcol-order-4 { order: 4 }
          .fcol-order-5 { order: 5 }
        }
      }
    }

    // accordion states
    @include accordion-color(sc-color("gray-lighter"), darken(sc-color("gray-lighter"), $sc-color-ratio), none, light, false);
    &.sc-acc-gray-lighter         {  @include accordion-color(sc-color("gray-lighter"),   sc-color("gray-dark"),           sc-color("gray-dark"),     light); }
    &.sc-acc-gray-light           {  @include accordion-color(sc-color("gray-light"),     sc-color("gray-dark"),           sc-color("gray-darker"),   light); }
    &.sc-acc-gray                 {  @include accordion-color(sc-color("gray"),           sc-color("gray-dark"),           sc-color("white"),         dark); }
    &.sc-acc-gray-dark            {  @include accordion-color(sc-color("gray-dark"),      sc-color("gray-darker"),         sc-color("white"),         dark); }
    &.sc-acc-gray-darker          {  @include accordion-color(sc-color("gray-darker"),    sc-color("gray-dark"),           sc-color("white"),         dark); }

    &.sc-acc-blue-lighter         {  @include accordion-color(sc-color("blue-lighter"),   sc-color("blue-dark"),           sc-color("blue-dark"),     light); }
    &.sc-acc-blue-light           {  @include accordion-color(sc-color("blue-light"),     sc-color("blue-dark"),           sc-color("blue-darker"),   light); }
    &.sc-acc-blue, &.sc-active    {  @include accordion-color(sc-color("blue"),           sc-color("blue-dark"),           sc-color("white"),         dark); }
    &.sc-acc-blue-dark            {  @include accordion-color(sc-color("blue-dark"),      sc-color("blue-darker"),         sc-color("white"),         dark); }
    &.sc-acc-blue-darker          {  @include accordion-color(sc-color("blue-darker"),    sc-color("blue-dark"),           sc-color("white"),         dark); }

    &.sc-acc-cian-lighter         {  @include accordion-color(sc-color("cian-lighter"),   sc-color("cian-dark"),           sc-color("cian-dark"),     light); }
    &.sc-acc-cian-light           {  @include accordion-color(sc-color("cian-light"),     sc-color("cian-dark"),           sc-color("cian-darker"),   light); }
    &.sc-acc-cian                 {  @include accordion-color(sc-color("cian"),           sc-color("cian-dark"),           sc-color("white"),         dark); }
    &.sc-acc-cian-dark            {  @include accordion-color(sc-color("cian-dark"),      sc-color("cian-darker"),         sc-color("white"),         dark); }
    &.sc-acc-cian-darker          {  @include accordion-color(sc-color("cian-darker"),    sc-color("cian-dark"),           sc-color("white"),         dark); }

    &.sc-acc-red-lighter          {  @include accordion-color(sc-color("red-lighter"),    sc-color("red-dark"),            sc-color("red-dark"),      light); }
    &.sc-acc-red-light            {  @include accordion-color(sc-color("red-light"),      sc-color("red-dark"),            sc-color("red-darker"),    light); }
    &.sc-acc-red, &.sc-danger     {  @include accordion-color(sc-color("red"),            sc-color("red-dark"),            sc-color("white"),         dark); }
    &.sc-acc-red-dark             {  @include accordion-color(sc-color("red-dark"),       sc-color("red-darker"),          sc-color("white"),         dark); }
    &.sc-acc-red-darker           {  @include accordion-color(sc-color("red-darker"),     sc-color("red-dark"),            sc-color("white"),         dark); }

    &.sc-acc-green-lighter        {  @include accordion-color(sc-color("green-lighter"),  sc-color("green-dark"),          sc-color("green-dark"),    light); }
    &.sc-acc-green-light          {  @include accordion-color(sc-color("green-light"),    sc-color("green-dark"),          sc-color("green-darker"),  light); }
    &.sc-acc-green, &.sc-success  {  @include accordion-color(sc-color("green"),          sc-color("green-dark"),          sc-color("white"),         dark); }
    &.sc-acc-green-dark           {  @include accordion-color(sc-color("green-dark"),     sc-color("green-darker"),        sc-color("white"),         dark); }
    &.sc-acc-green-darker         {  @include accordion-color(sc-color("green-darker"),   sc-color("green-dark"),          sc-color("white"),         dark); }

    &.sc-acc-yellow-lighter       {  @include accordion-color(sc-color("yellow-lighter"), sc-color("yellow-dark"),         sc-color("yellow-dark"),   light); }
    &.sc-acc-yellow-light         {  @include accordion-color(sc-color("yellow-light"),   sc-color("yellow-dark"),         sc-color("yellow-darker"), light); }
    &.sc-acc-yellow, &.sc-warning {  @include accordion-color(sc-color("yellow"),         sc-color("yellow-dark"),         sc-color("white"),         dark); }
    &.sc-acc-yellow-dark          {  @include accordion-color(sc-color("yellow-dark"),    sc-color("yellow-darker"),       sc-color("white"),         dark); }
    &.sc-acc-yellow-darker        {  @include accordion-color(sc-color("yellow-darker"),  sc-color("yellow-dark"),         sc-color("white"),         dark); }

  }
}
