@import "compass/css3";
@import "_sc-colors.scss";
@import "_sc-helpers.scss";
@import "_sc-animation-functions";

// Config
$sc-tgl-box-min-width: 4.4em;
$sc-tgl-button-size: 1.5em;
$sc-tgl-button-padding-ratio: 10;

// Don't modify this config
$sc-tgl-space-indent: .6em;
$sc-tgl-button-padding: $sc-tgl-button-size / $sc-tgl-button-padding-ratio;
$sc-tgl-height: $sc-tgl-button-size + ($sc-tgl-button-padding * 2);

// component
.sc-toggle{
  position: relative;
  display: inline-block;
  span{
    position: relative;
    float: left;
    line-height: $sc-tgl-height;
    cursor: pointer;
    // Desligado porque quando tem algum texto selecionado na tela, isso impede de disparar o click do checkbox
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    @include sc-text-shadow-dark;
    height: $sc-tgl-height;
    &:before, &:after{
      // switch and box [true, false]
      display: block;
      border-radius: $sc-tgl-button-size;
      -webkit-transition: all 150ms ease-in;
      transition: all 150ms ease-in;
    }
    &:before {
      // box default
      position: relative;
      height: $sc-tgl-height;
      left: 0;
      top: 0;
      bottom: 0;
      padding-left: $sc-tgl-button-size + $sc-tgl-space-indent;
      color: #FFF;
      padding-right: $sc-tgl-space-indent;
      min-width: $sc-tgl-box-min-width;
      background-color: sc-color("red");
      content: attr(label-false);
    }
    &:after {
      // switch default
      position: absolute;
      content: "\e665";
      width: $sc-tgl-button-size;
      height: $sc-tgl-button-size;
      top: $sc-tgl-button-padding;
      left: 0;
      text-align: center;
      text-indent: 0;
      background-color: #fff;
      margin-left: $sc-tgl-button-padding;
      color: #fff;
      text-shadow: none;
      line-height: 1.5em;
      font-family: "sc-icons";
    }
  }
  &.sc-toggle-loading {
  span{
      &:after {
        color: #999;
        @include animation("spin 2s infinite linear");
      }
    }
  }
  input{
    // when true
    // display: none;
    position: absolute;
    top: .4em;
    left: .8em;
    height: 0;
    width: 0;
    &:checked{
      ~ span{
        &:before {
          // box
          content: attr(label-true);
          padding-left: $sc-tgl-space-indent;
          padding-right: $sc-tgl-button-size + $sc-tgl-space-indent;
          background-color: sc-color("green");
        }
        &:after {
          // switch
          left: calc(100% - #{$sc-tgl-button-size });
          margin-left: -$sc-tgl-button-padding;
        }
      }
    }
    &:disabled{
      ~ span{
        &:before, &:after{
          cursor:not-allowed;
        }
        &:before {
          background-color: sc-color("gray-light") !important;
          color: sc-color("gray");
          text-shadow: none;
        }
      }
    }
  }


  // cores diferentes
  @each $color-name in $sc-primary-colors {
    &.sc-toggle-true-#{$color-name}{
      input{
        &:checked{
          ~ span{
            &:before {
              background-color: sc-color($color-name);
            }
          }
        }
      }
    }
    @each $color-name in $sc-primary-colors {
      &.sc-toggle-false-#{$color-name}{
        span{
          &:before {
            background-color: sc-color($color-name);
          }
        }
      }
    }
  }

}
