@import "compass/css3/transform";

@mixin animation-fill-mode($name) {
  -webkit-animation-fill-mode: $name;
  animation-fill-mode: $name;
}
@mixin animation($animate...) {
  // .new-class { @include animation('animation-name 5s linear'); }
  // .other-new-class { @include animation('animation-1 5s linear', 'animation-2 5s linear'); }
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  animation:         $animations;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@include keyframes(spin){
  0%{
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(359deg));
  }
}
@include keyframes(sc-ripples){
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@include keyframes(spin-inverse){
  0%{
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(-359deg));
  }
}

@include keyframes(progress-bar-stripes){
  from{
    background-position: 40px 0;
  }
  to {
    background-position: 1px 0;
  }
}
