ul.pagination {
  display: table;
  margin: 1em auto 2em;
  li {
    display: table-cell;
    a {
      background-color: #DEDEDE;
      color: #728B96;
      padding: 0.6em 1em;
      display: block;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      text-decoration: none;
      &:hover {
        background-color: #EDEDED;
      }
    }
    &.active a {
      background-color: #EDEDED;
      color: #657A83;
      cursor: default;
    }
    &.disabled a {
      color: #ABBAC1;
      cursor: not-allowed;
    }
    &:first-of-type a {border-radius: .35em 0 0 .35em;padding: 0.6em 1.3em;}
    &:last-of-type a  {border-radius: 0 .35em .35em 0;padding: 0.6em 1.3em; border: none;}
  }
}
