// ratios
$sc-box-shadows: (
  "z0" none,
  "z1" (0  2px  5px 0 rgba(0, 0, 0, 0.26), 0  2px 10px 0 rgba(0, 0, 0, 0.16)),
  "z2" (0  8px 17px 0 rgba(0, 0, 0, 0.20), 0  6px 20px 0 rgba(0, 0, 0, 0.19)),
  "z3" (0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)),
  "z4" (0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)),
  "z5" (0 27px 24px 0 rgba(0, 0, 0, 0.20), 0 40px 77px 0 rgba(0, 0, 0, 0.22))
);

@function sc-box-shadow($z-name-var) {
  @each $z in $sc-box-shadows {
    $z-name: nth($z, 1);
    $z-value: nth($z, 2);
    @if $z-name-var == $z-name{
      @return $z-value;
    }
  }
}
