// ratios
$sc-color-ratio: 15;

$sc-base-color-gray:   #7D858C;
$sc-base-color-blue:   #337AB7;
$sc-base-color-cian:   #28A3C8;
$sc-base-color-red:    #c74848;
$sc-base-color-green:  #42B342;
$sc-base-color-yellow: #E58C00;

$sc-primary-colors: (
  "gray",
  "blue",
  "cian",
  "red",
  "green",
  "yellow",
  "black",
  "white"
);

$sc-colors: (
  "gray-lighter"     lighten($sc-base-color-gray, ($sc-color-ratio * 2.9)),
  "gray-light"       lighten($sc-base-color-gray, ($sc-color-ratio + 10)),
  "gray"             $sc-base-color-gray,
  "gray-dark"        darken($sc-base-color-gray, ($sc-color-ratio + 3)),
  "gray-darker"      darken($sc-base-color-gray, ($sc-color-ratio + 17)),

  "blue-lighter"     saturate(lighten($sc-base-color-blue, ($sc-color-ratio * 2.8)),15%),
  "blue-light"       saturate(lighten($sc-base-color-blue, ($sc-color-ratio + 5)),15%),
  "blue"             $sc-base-color-blue,
  "blue-dark"        darken($sc-base-color-blue, ($sc-color-ratio )),
  "blue-darker"      darken($sc-base-color-blue, ($sc-color-ratio + 13)),

  "cian-lighter"     saturate(lighten($sc-base-color-cian, ($sc-color-ratio * 2.7)),15%),
  "cian-light"       saturate(lighten($sc-base-color-cian, ($sc-color-ratio + 5)),15%),
  "cian"             $sc-base-color-cian,
  "cian-dark"        darken($sc-base-color-cian, ($sc-color-ratio )),
  "cian-darker"      darken($sc-base-color-cian, ($sc-color-ratio + 13)),

  "red-lighter"      saturate(lighten($sc-base-color-red, ($sc-color-ratio * 2.75)),15%),
  "red-light"        saturate(lighten($sc-base-color-red, ($sc-color-ratio + 5)), 30%),
  "red"              $sc-base-color-red,
  "red-dark"         darken($sc-base-color-red, ($sc-color-ratio)),
  "red-darker"       darken($sc-base-color-red, ($sc-color-ratio + 13)),

  "green-lighter"    saturate(lighten($sc-base-color-green, ($sc-color-ratio * 2.8)),15%),
  "green-light"      saturate(lighten($sc-base-color-green, ($sc-color-ratio + 5)),15%),
  "green"            $sc-base-color-green,
  "green-dark"       darken($sc-base-color-green, ($sc-color-ratio - 4)),
  "green-darker"     darken($sc-base-color-green, ($sc-color-ratio + 9)),

  "yellow-lighter"   saturate(lighten($sc-base-color-yellow, ($sc-color-ratio * 2.9)),15%),
  "yellow-light"     saturate(lighten($sc-base-color-yellow, ($sc-color-ratio + 5)),15%),
  "yellow"           $sc-base-color-yellow,
  "yellow-dark"      darken($sc-base-color-yellow, ($sc-color-ratio - 4)),
  "yellow-darker"    darken($sc-base-color-yellow, ($sc-color-ratio + 9)),

  "black"            #000,
  "white"            #FFF
);

@function sc-color($color-name) {
  @each $color in $sc-colors {
    $key: nth($color, 1);
    $value: nth($color, 2);
    @if $color-name == $key{
      @return $value;
    }
  }
}
