@import "compass/css3";
@import "_sc-colors.scss";
@import "_sc-helpers.scss";
@import "_sc-hr";

$sc-panel-head-border-color: #bbb;
$sc-panel-head-bg-color: #f0f0f0;
$sc-panel-head-bg-color-dark: #d8e0e3;

.sc-panel {
  background: sc-color("gray-lighter");
  margin-bottom: sc-space(sm);
  border-bottom: 1px solid #bbb;
  &.sc-panel-bottomless{
    margin-bottom: 0;
    border-bottom: none;

    .sc-panel-body{
      border-bottom: none;
    }
  }

  &.sc-panel-flat{
    .sc-panel-head{
      background-image: none;
      border-top:none;
      border-bottom: sc-border-size(md) solid #ddd;
      background-color: transparent;
    }
  }

}

.sc-panel-head {
  border-top: sc-border-size(md) solid $sc-panel-head-border-color;
  border-bottom: sc-border-size(md) solid $sc-panel-head-border-color;
  color: sc-color("blue");
  background-color: $sc-panel-head-bg-color; // Old browsers
  @include filter-gradient($sc-panel-head-bg-color, $sc-panel-head-bg-color-dark, vertical); // IE6-9
  @include background-image(linear-gradient(top,  $sc-panel-head-bg-color 32%, $sc-panel-head-bg-color-dark 100%));

  text-align: center;
  padding: sc-space(md);

  font-size: 1.2em;
  font-weight: bold;

  .sc-panel-bt-icon{
    cursor:pointer;
    padding: sc-space(lg);
    margin: -(sc-space(xl)) -(sc-space(md));
  }

}

.sc-panel-body{
  &.skip-spacing{ padding: 0; }

  & .horizontal-rule, & hr {
    height: 0;
    margin-left: -(sc-space(sm));
    margin-right: -(sc-space(sm));

    border-style: solid;
    border-width: sc-border-size(md) 0;
    @include sc-hr("gray");
  }
}

.sc-panel.sc-danger{
  background: sc-color("red-lighter");
  & > .sc-panel-head { color: sc-color("red"); }

  .sc-panel-body{
    hr{
      @include sc-hr("red");
    }
  }

}

.sc-panel.sc-success{
  background: sc-color("green-lighter");
  & > .sc-panel-head { color: sc-color("green"); }
  .sc-panel-body{
    hr{
      @include sc-hr("green");
    }
  }

}

.sc-panel.sc-warning{
  background: sc-color("yellow-lighter");
  & > .sc-panel-head { color: sc-color("yellow"); }
  .sc-panel-body{
    hr{
      @include sc-hr("yellow");
    }
  }

}


