.sc-top-messages {
  position: fixed;
  left: 0;
  top:0;
  z-index: 20000;
  width: 100%;
  > div {
    width: 100%;
    padding: .5em 1em;
    min-height: 3.858em;
    .sc-top-messages-msgs {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      p {
        line-height: 1.35;
        margin: 0;
      }
    }
    .sc-top-messages-close-button {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 2em;
      -ms-flex: 0 0 2em;
      flex: 0 0 2em;
    }
  }
}
