@import "_sc-colors.scss";
@import "compass/css3/transition";

//////////////////////////
// Vars and definitions
//////////////////////////

// base size of everything (components, widgets etc)
$sc-base-size: .2em;
$sc-sizes: (
  xs $sc-base-size,
  sm $sc-base-size + .2em,
  md $sc-base-size + .4em,
  lg $sc-base-size + .6em,
  xl $sc-base-size + .8em,
  xxl $sc-base-size + 1em,
  xxxl $sc-base-size + 1.2em
);

// space sides
$sc-space-sides: (
  t ("top"),
  b ("bottom"),
  l ("left"),
  r ("right"),
  v ("bottom" "top"),
  h ("right" "left")
);

// border sides
$sc-border-sides: (
  t ("top"),
  b ("bottom"),
  l ("left"),
  r ("right"),
  v ("right" "left"),
  h ("bottom" "top")
);

// border sizes
$sc-border-sizes: (
  md 1px,
  lg 2px,
  xl 4px
);

// border styles
$sc-border-styles: (
  solid,
  dashed,
  dotted,
  none,
);


// $sc-input-bg-color:     sc-color("cian-lighter");
// $sc-input-border-color: sc-color("cian");
$sc-input-bg-color:     #E0F0FC;
$sc-input-border-color: #84C7F7;
$sc-input-color:        sc-color("cian-dark");


// mixins

@mixin config-input-default{
  @include sc-border-radius;
  border-style: solid;
  border-width: 1px;
  border-color: $sc-input-border-color;
  background-color: $sc-input-bg-color;
}


@mixin input-placeholder {
  // Exemplo
  // @include input-placeholder {
  //   color: #FFF;
  //   background: #F00;
  // }
  &:-moz-placeholder { opacity: 1; @content; }
  &::-moz-placeholder { opacity: 1; @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }


  // .placeholder { @content; }

  &[contenteditable][placeholder]:empty:before {
    // esse scope é para funcionar placeholder no contenteditable (usado no dropsearchApp)
    content: attr(placeholder);
    @content;

  }

}


// borders
$sc-full-radius: 1000em;
@mixin sc-border-radius        { border-radius: sc-size(sm) - .1em        }
@mixin sc-border-radius-full   { border-radius: $sc-full-radius;       }


@function contrast-color($color) {
  @if (lightness( $color ) > 60) {
    @return darken($color, 60);
  }
  @else {
    @return lighten($color, 60);
  }
}


// text from bg



@mixin config-text-color-from-bg($bg-color-name){

  color: contrast-color(sc-color($bg-color-name));


  // // voltar essa config abaixo quando estivermos utilizando SASS >= 3.3
  // $replace-lighter: "-lighter";
  // $matched-lighter: str-index($bg-color-name, $replace-lighter);
  // $is-bg-white: $bg-color-name == "white";
  // @if ($matched-lighter) or ($is-bg-white){
  //   @if $is-bg-white{
  //     color: gray;
  //     text-shadow: none;
  //   }
  //   @if $matched-lighter{
  //     $new-color-name: str-replace($bg-color-name, $replace-lighter, "        ");
  //     $new-color-name: str-replace($new-color-name, " ", "");
  //     color: sc-color($new-color-name);
  //     text-shadow: none;
  //   }
  // }@else{
  //   color: #FFF;
  //   @include sc-text-shadow-dark;
  // }
}

// ripples
@mixin ripples-dark{
  @include ripples-color(#000, .1);
}
@mixin ripples-light{
  @include ripples-color(#FFF, .3);
}

@mixin ripples-color($color, $transparency){
  .sc-ripples-circle {
    background: rgba($color, $transparency);
  }
}

@mixin sc-text-shadow-light{
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}
@mixin sc-text-shadow-dark{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

// functions
@function sc-border-size($size-name) {
  @each $size in $sc-border-sizes {
    $key: nth($size, 1);
    $value: nth($size, 2);
    @if $size-name == $key{
      @return $value;
    }
  }
}

@function sc-text-size($size-name) {
  @each $size in $sc-sizes {
    $key: nth($size, 1);
    $value: nth($size, 2);
    @if $size-name == $key{
      @return $value + .4em;
    }
  }
}

@function sc-space($space-name) {
  @each $size in $sc-sizes {
    $key: nth($size, 1);
    $value: nth($size, 2);
    @if $space-name == $key{
      @return $value;
    }
  }
}

@function sc-size($size-name) {
  @each $size in $sc-sizes {
    $key: nth($size, 1);
    $value: nth($size, 2);
    @if $size-name == $key{
      @return $value;
    }
  }
}
