@import "compass/css3";
@import "../_sc-helpers.scss";

@mixin btn-group-active-variant($color, $border-color, $top-bg, $bottom-bg) {
  color: $color;
  border-color: $border-color;
  background-color: $top-bg; // Old browsers
  @include filter-gradient($top-bg, $bottom-bg, vertical); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(top,  $top-bg 0%,$bottom-bg 99%));
}

@mixin gradient-button-variant($color, $border-color, $top-bg, $bottom-bg) {
  @include btn-group-active-variant($color, $border-color, $top-bg, $bottom-bg);

  &:active,&:not(.sc-btn-no-hover):not(.sc-active):not(.sc-btn-clean):not(:disabled):hover {
    // @include single-box-shadow(rgba(0,0,0,0), 0, 0, 0, 0);

    background-color: $bottom-bg; // Old browsers
    @include filter-gradient($bottom-bg, $top-bg, vertical); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(top,  $bottom-bg 0%,$top-bg 99%));
  }
}

//Those kids were fast as lightning
@mixin awesomeness-button-variant($color, $border-color, $top-bg, $bottom-bg) {
  // border-color: $border-color;
  & .sc-btn-icon{
    color: $color;
    border-color: $border-color;
    background-color: $top-bg; // Old browsers
    @include filter-gradient($top-bg, $bottom-bg, vertical); // IE6-9
    @include background-image(linear-gradient(top,  $top-bg 0%,$bottom-bg 99%));
  }

  & .sc-btn-text{
    color: #747c7f;
    background-color: #e9e9e9; // Old browsers
    @include sc-text-shadow-light;
    @include filter-gradient(#e9e9e9, #d7d8dc, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #e9e9e9 0%,#d7d8dc 99%));
  }

  &:not(:disabled):active,&:not(.sc-btn-no-hover):not(:disabled):hover {
    @include single-box-shadow(0, 0, 0, 0, rgba(0,0,0,0));

    & .sc-btn-icon{
      background-color: $bottom-bg; // Old browsers
      @include filter-gradient($bottom-bg, $top-bg, vertical); // IE6-9
      @include background-image(linear-gradient(top, $bottom-bg 0%, $top-bg 99%));
    }

    & .sc-btn-text{
      background-color: #d7d8dc; // Old browsers
      @include filter-gradient(#d7d8dc, #e9e9e9, vertical); // IE6-9
      @include background-image(linear-gradient(top,  #d7d8dc 0%,#e9e9e9 99%));
    }
  }
}
