<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>HTML Video Tag Example</title>

    <style type="text/css">
      .scale-video {
        width: 100vw;
        position: relative;
        padding-bottom: 56.25%; /*16:9*/
        padding-top: 0;
        height: 0;
        overflow: hidden;
      }

      .scale-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div ng-app="AnunciosVideos" ng-controller="PrincipalCtrl">
      <div class="flex-row">
        <div class="flex-row sc-bg-green-dark fcol-order-xs-1 flex-direction-row flex-nowrap" style="flex:0 0 80VW; height: 80vh;">
          <video id=video autoplay="autoplay" onended="angular.element(this).scope().anuncioVideo.getPlaylist(this)" controls style="height: 80vh; width: 80vw">
            <source src="http://localhost:3001/video?id={{anuncioVideo.index}}" type="video/mp4">
          </video>
          <div class="sc-bg-blue-light fcol-order-xs-2" style="flex:0 0 20VW; height: 80vh">ANUNCIO</div>
        </div>
       <div class="sc-bg-yellow-light fcol-order-xs-2" style="width:100vw; height: 20vh">
        <div class="flex-row flex-direction-row flex-nowrap">
          <div class="fcol-order-xs-1" style="width: 20%">
            LOGOO
          </div>
          <div class="fcol-order-xs-2" style="width: 80%">
            <h4 class="sc-label sc-m-t-md">{{mensagems.message.titulo}}</h4>
            <div class="sc-text-bold sc-text-black sc-m-t-md">{{mensagems.message.mensagem}}</div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </body>
</html>
