@import "compass/css3";

@media (min-width: 960px) {
  .sc-scrollbar {
    &::-webkit-scrollbar {
      width: .4em;
      height: .4em;
    }
    &::-webkit-scrollbar-track {
      @include border-radius(.8em); background: rgba(0,0,0,.2);
    }
    &::-webkit-scrollbar-button {
      width: .1em;
      height: .1em;
    }
    &::-webkit-scrollbar-thumb {
      @include border-radius(.8em);
      background: rgba(255,255,255,.5);
      box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
    }
    &.sc-scrollbar-hover {
      &::-webkit-scrollbar-track {
        @include border-radius(.8em); background: rgba(0,0,0,.07);
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,.1);
        box-shadow: 0 0 0 1px rgba(0,0,0,0.03) inset;
      }
      &:hover {
        &::-webkit-scrollbar-track {
          @include border-radius(.8em); background: rgba(0,0,0,.2);
        }
        &::-webkit-scrollbar-thumb {
          background: rgba(255,255,255,.5);
          box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
        }
      }
    }
  }
}

