@import "_sc-colors.scss";
@import "compass/css3";
.sc-badge:not([class^='sc-icon-']):not([class*=' sc-icon-']) {
  padding: .2143em .4286em;
  line-height: 1;
  display: inline-block;
  border-radius: 1em;
  color: #fff;
  font-size: .875em;
  vertical-align: baseline;
  &.sc-badge-fixed,
  &.sc-badge-fixed-right,
  &.sc-badge-fixed-left {
    position: absolute;
    top: -.5em;
    z-index: 2;
  }
  &.sc-badge-fixed,
  &.sc-badge-fixed-right { right: -.5em; }
  &.sc-badge-fixed-left  { left:  -.5em; }
  &.sc-bg-white {
    color: sc-color("gray-dark");
  }
}
.sc-btn span.sc-badge { vertical-align: baseline; }

.sc-badge-icon, [class^="sc-icon-"].sc-badge, [class*=" sc-icon-"].sc-badge {
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: inline-block;
  text-align:center;
}
.sc-badge-icon {
  display: inline-table;
  & > * {
    text-align:center;
    display: table-cell;
    vertical-align: middle;
  }
}

@mixin sc-badge{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-width: 1px;
  border-style: dotted;
  border-radius: 100%;

  position: relative;
  cursor: pointer;
  width: 2em;
  height: 2em;
  line-height: 2em;
  z-index: 1;
  @include transition(all .25s);
  &::after {
    content: '';
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 0;
    top: -1px;
    left: -1px;
    border-radius: 50%;
    @include transform(scale(0));
    @include transition(transform .25s);
  }
  &::before { z-index: 1; position: relative; }
  &.sc-border-none::after {
    top: 0;
    left: 0;
  }
}

@mixin sc-badge-text-color($color-name){
  @if $color-name == "white" {
    color: sc-color("gray") !important;
  } @else {
    color: white !important;
  }
}


[class*="sc-badge-hover-"] {
  @include sc-badge;
  &.sc-badge-active,
  &:hover {
    &::after { @include transform(scale(1)); }
  }
}

[class*="sc-badge-active-"] {
  @include sc-badge;
  &::after { @include transform(scale(1)); }
}

@each $color-name in $sc-primary-colors {
  .sc-badge-hover-#{$color-name} {
    color: sc-color($color-name);
    @if $color-name == 'white' or $color-name == 'black' {
      border-color: sc-color($color-name);
    } @else {
      border-color: sc-color(#{$color-name}-light);
    }
    &::after { background-color: sc-color($color-name); }
    &.sc-badge-active, &:hover { @include sc-badge-text-color($color-name); }
  }
  .sc-badge-active-#{$color-name} {
    &::after { background-color: sc-color($color-name); }
    @include sc-badge-text-color($color-name);
  }
}
