@import "_sc-colors.scss";
@import "_sc-hr";
@import "_sc-flexbox.scss";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  height: auto;
  resize: vertical;
  transition: none;
}
// reset
p{ margin-bottom: 0.5em; }

h1{font-size: 2.0em}
h2{font-size: 1.8em}
h3{font-size: 1.6em}
h4{font-size: 1.4em}
h5{font-size: 1.2em}
h6{font-size: 1.0em}

hr{
  @include sc-hr("gray");
  border-width: 1px;
  border-bottom-style: solid;
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

a{
  color: sc-color("blue");
  &:hover, &:focus, &:active{
    text-decoration: underline;
  }
}

.sc-opac, .sc-opac-100 { opacity: 1 }
.sc-opac-90 { opacity: .9 }
.sc-opac-80 { opacity: .8 }
.sc-opac-70 { opacity: .7 }
.sc-opac-60 { opacity: .6 }
.sc-opac-50 { opacity: .5 }
.sc-opac-40 { opacity: .4 }
.sc-opac-30 { opacity: .3 }
.sc-opac-20 { opacity: .2 }
.sc-opac-10 { opacity: .1 }
.sc-opac-0  { opacity: 0 }

table.sc-table {
  tr {
    th, td {
      height: 3em;
      color: rgba(0,0,0,.87);
      color: rgba(0,0,0,.67);
      padding: .4em 1.6em .4em 0;
      &:first-of-type {padding: .4em 1.5em;}
      &:last-of-type {padding-right: 1.5em;}
      box-shadow: 0 -1px 0 rgba(0,0,0,.11) inset;
    }
  }
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: rgba(0,0,0,.025);
      }
      &:hover {
        background-color: rgba(0,0,0,.07);
      }
    }
  }
  thead, tfoot {
    tr {
      th, td {
        height: 3.5em;
        color: rgba(0,0,0,.54);
        color: rgba(0,0,0,.44);
      }
    }
  }
  tfoot {
    th, td {
      box-shadow: none;
    }
  }

  &.sc-table-dark{
    tr {
      th, td {
        color: rgba(255,255,255,.54);
      }
    }
    thead, tfoot {
      tr {
        th, td {
          color: rgba(255,255,255,.87);
        }
      }
    }
  }
}

.sc-flex-table {
  // !!!!!!!! HOW TO USE !!!!!!!!
  // .sc-flex-table
  //   .sc-flex-table-head
  //     . Titulo
  //     .align-right Valor

  //   .sc-flex-table-body
  //     . ng-repeat="item in itens"
  //       .() {{ item.titulo }}
  //       .align-right() {{ item.saldo.valor | currency }}

  //   .sc-flex-table-foot
  //     .
  //     .align-right() {{ ocorrencia.saldo.valor | currency }}
  // !!!!!!!! HOW TO USE !!!!!!!!

  .sc-flex-table-head, .sc-flex-table-body > div, .sc-flex-table-foot {
    height: 3em;
    color: rgba(0,0,0,.87);
    color: rgba(0,0,0,.67);
    padding: .4em 1.5em;
    box-shadow: 0 -1px 0 rgba(0,0,0,.11) inset;
  }

  .sc-flex-table-head {
    font-weight: bold;
  }
  .sc-flex-table-body {
    > div {
      @extend .flex-row;
      @extend .align-items-center;
      > * { flex: 1 }

      &:nth-of-type(odd) {
        background-color: rgba(0,0,0,.025);
      }
      &:hover {
        background-color: rgba(0,0,0,.07);
      }
    }
  }
  .sc-flex-table-foot {
    box-shadow: none;
  }

  .sc-flex-table-head, .sc-flex-table-foot {
    @extend .flex-row;
    @extend .align-items-center;
    > * { flex: 1 }

    height: 3.5em;
    color: rgba(0,0,0,.54);
    color: rgba(0,0,0,.44);
  }

  &.sc-flex-table-dark {
    .sc-flex-table-body {
      > div {
        color: rgba(255,255,255,.54);
      }
    }
    .sc-flex-table-head, .sc-flex-table-foot {
      > div {
        color: rgba(255,255,255,.87);
      }
    }
  }
}
