@import "_sc-colors.scss";
@import "_sc-helpers.scss";
@import "_sc-hr";

$sc-balloon-space-default: sc-space(sm);

// balloons
.sc-balloon, .sc-balloon-block{
  padding: $sc-balloon-space-default;
  border-radius: .3em;
  margin-top: $sc-balloon-space-default;
  max-width: 40em;
  display:inline-table;

  border-style: solid;
  border-width: 1px;

  // colors
  background-color: sc-color("gray-lighter");
  border-color: sc-color("gray");
  color: sc-color("gray");

  hr{
    border-width: 1px 0;
    border-top-color: lighten(sc-color("gray"), 20);
    border-bottom-color: lighten(sc-color("gray-light"), 40);
  }


  &.sc-danger, &.sc-balloon-red{
    background-color: sc-color("red-lighter");
    border-color: sc-color("red");
    color: sc-color("red");

    hr{
      @include sc-hr("red");
    }
  }

  &.sc-active, &.sc-balloon-blue{
    background-color: sc-color("blue-lighter");
    border-color: sc-color("blue");
    color: sc-color("blue");

    hr{
      @include sc-hr("blue");
    }
  }

  &.sc-success, &.sc-balloon-green{
    background-color: sc-color("green-lighter");
    border-color: sc-color("green");
    color: sc-color("green");

    hr{
      @include sc-hr("green");
    }
  }

  &.sc-warning, &.sc-balloon-yellow{
    background-color: sc-color("yellow-lighter");
    border-color: sc-color("yellow");
    color: sc-color("yellow");

    hr{
      @include sc-hr("yellow");
    }
  }

  // children
  & > * {
    display: table-cell;
  }

  .close-button{
    vertical-align: top;
  }
  .content{
    padding:  0 $sc-balloon-space-default;
    vertical-align: middle;
  }
}

.sc-panel{
  &.sc-danger{
    .sc-panel-body {
      & .sc-balloon, & .sc-balloon-block{
        &.sc-danger , &.sc-balloon-red{
          background-color: darken(sc-color("red-lighter"),8);
        }
      }
    }
  }
  &.sc-warning{
    .sc-panel-body {
      & .sc-balloon, & .sc-balloon-block{
        &.sc-warning , &.sc-balloon-yellow{
          background-color: darken(sc-color("yellow-lighter"),8);
        }
      }
    }
  }
  &.sc-success{
    .sc-panel-body {
      & .sc-balloon, & .sc-balloon-block{
        &.sc-success , &.sc-balloon-green{
          background-color: darken(sc-color("green-lighter"),8);
        }
      }
    }
  }

}

.sc-balloon-block{
  max-width:100%;
  display:block;
  .content{width:100%}
}
