@import "compass/css3";
@import "_sc-colors.scss";
@import "_sc-helpers.scss";
.sc-dropback {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.sc-dropdown { position: relative; }
.sc-dropdown-toggle:focus { outline: 0; }
.sc-dropdown-menu {
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  right: auto;
  z-index: 1000;
  padding: .5em 0;
  margin: .1em 0 2em;
  list-style: none;
  font-size: 1em;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  min-width: 12em;
  border-radius: .2em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 -1px 2px -1px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .open { display: block; }
  li {
    display: block;
    width: 100%;
    padding: 0;
    clear: both;
    white-space: nowrap;
    > *:not(ul) {
      padding: 0 1.2em 0 .8em;
      height: 2.5em;
      line-height: 2.5em;
      display: block;
      cursor: pointer;
      font-weight: normal;
      color: sc-color("gray-dark");
      > * { display: inline-block; }
      > [class^="sc-icon-"], [class*=" sc-icon-"] { width: 1.4em; }
      &:hover, &.active { background-color: sc-color("gray-lighter"); }
    }
    &.as-sortable-item-handle, .as-sortable-item-handle {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -moz-grab;
    }
    &.sc-dropdown-submenu {
      > *:not(ul){
        position: relative;
        &:after {
          content: '\e609';
          font-family: 'sc-icons' !important;
          display: block;
          font-size: 0.7em;
          position: absolute;
          top: 0;
          right: .65em;
        }
      }
      &.opened {
        background: sc-color("gray-lighter");
        > *:not(ul):after {
          transform: rotate(90deg);
        }
      }
      > ul {
        background: sc-color("gray-lighter");
        li {
          > *:not(ul) {
            padding: 0 1.2em 0 1.5em;
            height: 2.3em;
            line-height: 2.3em;
            &:hover, &.active { background-color: #e8e8e8; }
          }
        }
      }
    }
    &.divider {
      border-bottom: 1px solid #ECECEC;
      height: 0;
      margin: .25em 0 .3125em;
    }
    &.disabled, &[disabled] {
       > * {
        color: #BDBDBD;
        cursor: not-allowed;
        &:hover { background-color: transparent; }
      }
    }
    a:hover, a:active, a:focus { text-decoration: none; }
  }
  &.sc-dropdown-menu-left { left: 0; right: auto; }
  &.pull-right,
  &.sc-dropdown-menu-right { left: auto; right: .15em; }
  &.pull-center,
  &.sc-dropdown-menu-center {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
.pull-right > .sc-dropdown-menu { left: auto; right: .15em; }
.pull-center > .sc-dropdown-menu {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}
.sc-dropdown-input{
  position: relative;
  &:before {
    content: "\e62f";
    font-family: 'sc-icons' !important;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: 0.45em;
    left: .5em;
    color: #777;
  }
  input {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: .21428em 2em !important;
    background: #eee;
    height: 2em !important;
    line-height: 2em !important;
    margin-bottom: .21428em;
    margin-top: -0.285714em;
    &:focus,
    &:active {
      box-shadow: none;
    }
  }
  .sc-dropdown-check-all {
    position: absolute;
    top: 0em;
    height: 2em;
    right: 0em;
    padding: 0;
    border-radius: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    &:hover { background: #e0e0e0; }
  }
}

