//input
@import "compass/css3";
@import "_sc-colors.scss";
@import "_sc-helpers.scss";

.sc-input-amount{
  max-width: 5em;
  min-height: 2em;
  text-align: right;
}

.sc-input-date{
  text-align: center;
  max-width: 11em;
  min-height: 2em;
}

.sc-input-time{
  width: 4em;
  text-align: center;
  max-width: 10em;
  min-height: 2em;
}

.sc-label{
  margin-bottom: sc-space(xs);
  color: sc-color("blue");
  font-weight: bold;
}

.sc-fieldset {
  $border-color: #ddd;
  border: 1px solid $border-color;
  border-radius: .4em;
  background: #F7F7F9;
  margin: .5em auto 1em;

  $fontsize: 1.2;
  .sc-fieldset-head {
    border-bottom: 1px solid $border-color;
    padding: 0.4em 0.8em;
    font-size: #{$fontsize}em;
    border-radius: #{.4em / $fontsize} #{.4em / $fontsize} 0 0;
    background-color: #fcfcfc;
    color: #798186;
    font-weight: 500;
  }

  &.closed {
    border-bottom: none;
    .sc-fieldset-head { border-radius: #{.4em / $fontsize}; }
  }

  > * {
    padding: .8em;
  }
}

.sc-input-block{
  display: block;
  width: 100%;
}
.sc-input-default{
  @include config-input-default;
  outline: none;
  color: sc-color("blue-dark");
  padding: .4em .6em;
  min-height: 2.5em;
  @include input-placeholder{
    color: #666;
  }
  &.error, &.ng-invalid:not(:disabled):not(.typeahead-combo).ng-dirty {
    color: sc-color("red-darker") !important;
    border-style: solid;
    border-color: sc-color("red") !important;
    background-color: sc-color("red-lighter") !important;
    &:focus {
      box-shadow: inset 0 0 1px sc-color("red"), 0 0 6px #ce8483;
      border-color: sc-color("red-dark");
      background-color: sc-color("red-lighter");
    }
  }
  &[disabled], &.disabled {
    cursor:not-allowed;
    border-color: #ccc !important;
    color:  #aaa !important;
    background-color: #f0f0f0 !important;
  }
  .sc-input-thin {
    min-height: 1.7em;
  }
}

textarea{
  &.sc-input-default {
    padding: .6em;
  }
}

hr + .sc-form-group.sc-form-group-continue, hr.before-sc-form-group{margin-bottom: -(sc-space(sm))}

.sc-form-group{
  &.sc-form-group-continue, + .sc-form-group{ margin-top:  (sc-space(xl) + .5em); }
  > .sc-form-cell {display: inline-block; margin-bottom: sc-space(sm);}
  > .sc-form-cell:not(:last-child){ margin-right: sc-space(xl); }
}
.sc-input-group {
  display: inline-flex;
  font-size: sc-text-size(md);
  width: 100%;

  > * {
    flex: 0;
    border-radius: 0 !important;
    &.sc-btn {
      flex: 0 0 2.5em;
      padding: 0;
      width: 2.5em;
    }
    &:first-child {
      border-top-left-radius: .3em !important;
      border-bottom-left-radius: .3em !important;
    }
    &:last-child {
      border-top-right-radius: .3em !important;
      border-bottom-right-radius: .3em !important;
    }
  }

  > input[type="search"],
  > input[type="text"],
  > .sc-input-default,
  .sc-tag-box {
    @include config-input-default;
    flex: 1;
    min-width: 6em;
    margin: 0;
  }
}
.sc-input-group > input[type="search"],
.sc-input-group > input[type="text"],
.sc-input-group > .sc-input-default,
.sc-input-default {
  &:focus {
    border-color: #70A4D1;
    background-color: #D5ECFD;
    @include box-shadow(inset 0 0 1px #91BDE3, 0 0 6px #8DC0EC);
  }
}
.sc-toggle > input:focus + span,
input[type="radio"]:focus {
  outline: none;
  &:before {
    @include box-shadow(0 0 0 .15em #FFF, 0 0 .3em .15em rgba(0,0,0,.6));
  }
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
  outline: none;
  @include box-shadow(0 0 0 2px rgba(0,0,0,.5) inset);
}
