@import "compass/css3";
@import "_sc-colors.scss";
@import "_sc-helpers";
.sc-checkbox {
  vertical-align: -.1em;
  position: relative;
  font-size: 1em;
  width: 1em;
  height: 1em;

  &:before {
    border-style: solid;
    border-color: #fff;
    border-width: 0px;
    content: "";
    cursor: pointer;
    position: absolute;
    display: block;
    height: 1em;
    width: 1em;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  &:checked:before {
    border-top-style: none;
    border-right-style: none;
    height: .6em;
    top: .1em;
    border-radius: .1em;
    transform: rotate(-45deg);
  }

  &:after {
    background: #fff;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    box-shadow: 0 0 0 2px sc-color("gray-light");
    top: 0;
    width: 1em;
    z-index: 0;
    border-radius: .1em;
  }

  &:checked {
    &:before {
      border-width: 4px;
      border-color:sc-color("green");
    }
    @each $color-name in $sc-primary-colors {
      &.sc-checkbox-#{$color-name}:before{
        border-color:sc-color($color-name);
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    &:checked:before,
    &:before {
      cursor: not-allowed;
      border-color: sc-color("gray-light");
    }
  }

  &:focus {
    outline: none;
    &:after {
      box-shadow: 0 0 0 2px sc-color("gray-light"),
                  0 0 0 .275em #fff,
                  0 0 .3em .275em rgba(0,0,0,.6);
    }
  }

  &.sc-checkbox-partial {
    &:before {
      border-width: 4px;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      height: .5em; // metade da altura do checkbox
      top: 2px; // metade da largura da borda
      width: calc(1em - 2px);
      left: 1px;
      border-radius: 0;
      transform: rotate(0deg);
    }

    @each $color-name in $sc-primary-colors {
      &.sc-checkbox-#{$color-name}:before {
        border-color: sc-color($color-name);
      }
    }
  }
}
