@import "_sc-colors.scss";
@import "compass/css3/transition";
@import "_sc-helpers";
@import "_sc-box-shadow";
@import "_sc-hr";

// sc-box-shadow
@each $z in $sc-box-shadows {
  $z-name: nth($z, 1);
  $z-value: nth($z, 2);
  .sc-box-shadow-#{$z-name}{
    box-shadow: $z-value;
  }
}

// Colors from: text, bg and hr
@each $color in $sc-colors {
  $color-name: nth($color, 1);
  $color-value: nth($color, 2);
  // text hover
  .sc-text-hover-#{""+$color-name} {
    &:hover{ color: $color-value;}
  }
  // bg hover
  .sc-bg-hover-#{""+$color-name} {
    &:hover{ background-color: $color-value;}
  }
  // hr
  .sc-hr-#{$color-name}{
    @include sc-hr($color-name);
  }
}

// text shadow
.sc-text-shadow-dark   { @include sc-text-shadow-dark;  }
.sc-text-shadow-light  { @include sc-text-shadow-light; }
.sc-text-shadow-none   { text-shadow:none }

.sc-text-as-link{
  cursor: pointer;
  text-decoration: none;
  &:hover{text-decoration: underline;}
}

// cursor
.sc-cursor-default     { cursor: default !important;     }
.sc-cursor-pointer     { cursor: pointer !important;     }
.sc-cursor-move        { cursor: move !important;     }
.sc-cursor-wait        { cursor: wait !important;     }
.sc-cursor-not-allowed { cursor: not-allowed !important; }
.sc-cursor-zoom-in     { cursor: -webkit-zoom-in; cursor: -moz-zoom-in;  cursor:asset-url('gerenciar/zoom.cur'), auto;  cursor:asset-url('gerenciar/zoom.cur'); }
.sc-cursor-zoom-out    { cursor: -webkit-zoom-out; cursor: -moz-zoom-out; }

.sc-relative {position: relative;}
.sc-absolute {position: absolute;}

// animations
.sc-transition           {  @include transition(all, .4s);       }
.sc-transition-font-size {  @include transition(font-size, .1s); }


