@import "_sc-colors.scss";
@import "_sc-helpers.scss";
$space-default: (sc-space(sm) - .1em);
.sc-tag-box{
  @include config-input-default;
  padding-left: $space-default;
  padding-right: $space-default;
  padding-top: .28em;
  overflow: auto;
  min-height: 2.5em;
  input{
    margin: 0;
    padding: $space-default;
    color: sc-color("blue-dark");
    &.phantom, &.phantom:focus {
      background: none;
      border: none;
      box-shadow: none;
      font-size: 1em;
      outline: none;
      float: left;
      width: 11.5em;
    }
  }
}
.sc-tag{
  display: inline-table;
  font-size: .8em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  float: left;
  margin-right: $space-default;
  margin-bottom: .28em;
  overflow: hidden;
  & > *{
    display: table-cell;
    vertical-align: middle;
    padding: ($space-default*2) $space-default;
    &:first-child{padding-left: ($space-default*2)}
    &:last-child{padding-right: ($space-default*2)}
  }
  .sc-tag-remove{
    cursor: pointer;
    padding: ($space-default*2);
    &:hover{ background: sc-color("red-dark"); color: #fff }
  }

  @each $color in $sc-colors {
    $color-name:  nth($color, 1);
    $color-value: nth($color, 2);
    &.sc-tag-#{""+$color-name}{
      @include config-text-color-from-bg($color-name);
      background-color: $color-value;
    }
  }
}
