@import "compass/css3";
@import "_sc-colors.scss";
@import "_sc-helpers";
.sc-radio{
  vertical-align: -.1em;
  position: relative;
  cursor: pointer;
  font-size: 1em;
  width: 1em;
  height: 1em;

  &:before,
  &:after {
    @include transition(all .25s ease-in-out);

    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  &:after {
    z-index: 0;
    background: #fff;
    @include box-shadow(sc-color("gray") 0 0 0 2px inset);
  }

  &:before {
    @include transform(scale(0, 0));
  }

  &:checked {
    &:before {
     @include transform(scale(1, 1));
     background: sc-color("blue");
    }

    @each $color in $sc-colors {
      $color-name:  nth($color, 1);
      $color-value: nth($color, 2);
      &.sc-radio-#{$color-name}:before{
        background:$color-value;
      }
    }
  }
  &[disabled] {
    cursor: not-allowed;
    &:after {
      @include box-shadow(sc-color("gray-light") 0 0 0 2px inset);
    }
    &:checked:before,
    &:before {
      background: sc-color("gray-light");
    }
  }
}
