@import "compass/css3";
@import "_sc-colors.scss";
@import "_sc-helpers.scss";

// Customizations
// unfix head and footter
// sc-modal sc-modal-unfixed
// sc-modal-height-full
// sizes
// sc-modal sc-modal-90perc
// sc-modal sc-modal-80perc
// sc-modal sc-modal-xxl
// sc-modal sc-modal-xl
// sc-modal sc-modal-lg
// sc-modal sc-modal-md
// sc-modal sc-modal-sm

@mixin fix-head-footer{
  .sc-modal {
    max-height: calc(100% - 4em);
    transform: translate(0, -20%) scale(0.8);
    &.active { transform: translate(0, 0) scale(1); }
    &.active-remove { transform: translate(0, 10%) scale(1); }
    .sc-modal-body {
      overflow: auto;
    }
  }
}

.sc-modal-overlay {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  @include opacity(0);
  transition: all .3s ease-out;
  &.active { @include opacity(1); }
  &.sc-modal-90perc .sc-modal { width: 90%;  }
  &.sc-modal-80perc .sc-modal { width: 80%;  }
  &.sc-modal-xxl .sc-modal    { width: 72em; }
  &.sc-modal-xl .sc-modal     { width: 60em; }
  &.sc-modal-lg .sc-modal     { width: 48em; }
  &.sc-modal-md .sc-modal     { width: 36em; }
  &.sc-modal-sm .sc-modal     { width: 26em; }
}

.sc-modal {
  position: relative;
  z-index: 10;
  max-width: 96%;
  width: 48em;
  margin: 2em auto;
  padding: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all .3s ease-out;
  @include opacity(0);
  border-radius: .35em;
  box-shadow: 0 .3em .8em rgba(0, 0, 0, 0.4);
  > div {
    &:first-child {
      border-top-left-radius: .35em;
      border-top-right-radius: .35em;
    }
    &:last-child {
      border-bottom-left-radius: .35em;
      border-bottom-right-radius: .35em;
    }
  }
  .sc-modal-header {
    flex: 0 0;
    min-height: 1em;
    padding: .8em;
    border-bottom: 1px solid #E5E5E5 !important;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: normal;
    color: #51575c;
    .sc-modal-close { float: right; font-size: 0.9em; line-height: 1.4em; }
    .sc-modal-close[class*="sc-badge-hover"] { font-size: 0.55em; }
  }
  .sc-modal-body {
    flex: 1 1;
    position: relative;
    min-height: 6em;
    padding: .8em;
  }
  .sc-modal-footer {
    flex: 0 0;
    padding: 0.6em .8em;
    text-align: right;
    border-top: 1px solid #E5E5E5 !important;
  }
  &.active { @include opacity(1); }
  &.active-remove { @include opacity(0); }
}

.sc-modal-height-full {
  &.sc-modal, .sc-modal {
    height: calc(100% - 4em);
    .sc-modal-header { flex: 0 0 2.85em; }
  }
}

@media (min-width: 960px) {
  .sc-modal-overlay:not(.sc-modal-unfixed) {
    @include fix-head-footer()
  }
}

