@import "compass/css3";

$tooltip-color: #383838;
$tooltop-sm: 8em;
$tooltop-md: 14em;
$tooltop-lg: 20em;

[sc-tooltip] {
  position: relative;
  display: inline-block;
  &:before, &:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    @include transition(0.3s ease);
    @include transition-delay(0ms);
    @include transform(translate3d(0, 0, 0));
  }
  &:not(.sc-tooltip-never) {
    &:hover:before, &:hover:after {
      visibility: visible;
      opacity: 1;
      @include transition-delay(100ms);
    }
  }
  &:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
  }
  &:after {
    content: attr(sc-tooltip);
    background: $tooltip-color;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    line-height: 14px;
    white-space: nowrap;
    border-radius: .4em;
  }
  &.sc-tooltip-white {
    &:before { border-bottom-color: #e9e9e9 }
    &:after {
      background: #e9e9e9;
      color: #393939;
      text-shadow: none;
    }
  }
}

[sc-tooltip=''] {
  &:before, &:after { display: none !important; }
}

.sc-tooltip-top-left:before     { border-top-color:    $tooltip-color; }
.sc-tooltip-top-right:before    { border-top-color:    $tooltip-color; }
.sc-tooltip-top:before          { border-top-color:    $tooltip-color; }
.sc-tooltip-bottom-left:before  { border-bottom-color: $tooltip-color; }
.sc-tooltip-bottom-right:before { border-bottom-color: $tooltip-color; }
.sc-tooltip-bottom:before       { border-bottom-color: $tooltip-color; }
.sc-tooltip-left:before         { border-left-color:   $tooltip-color; }
.sc-tooltip-right:before        { border-right-color:  $tooltip-color; }

/**
 * [default] and top tooltip
 */
[sc-tooltip]:not(.sc-tooltip-top-left):not(.sc-tooltip-top-right):not(.sc-tooltip-bottom-left):not(.sc-tooltip-bottom-right):not(.sc-tooltip-bottom):not(.sc-tooltip-left):not(.sc-tooltip-right),
.sc-tooltip-top {
  &:before, &:after {
    bottom: 100%;
    left: 50%;
  }

  &:before {
    left: calc(50% - 6px);
    margin-bottom: -11px;
    border-top-color: $tooltip-color;
  }

  &:after { @include transform(translateX(-50%)); }
  &:hover:before, &:focus:before { @include transform(translateY(-8px)); }
  &:hover:after, &:focus:after { @include transform(translateX(-50%) translateY(-8px)); }
}

/**
 * bottom tooltip
 */
.sc-tooltip-bottom {
  &:before, &:after {
    top: 100%;
    left: 50%;
  }

  &:before {
    left: calc(50% - 6px);
    margin-top: -11px;
  }

  &:after { @include transform(translateX(-50%)); }
  &:hover:before, &:focus:before { @include transform(translateY(8px)); }
  &:hover:after, &:focus:after { @include transform(translateX(-50%) translateY(8px)); }
}

/**
 * right tooltip
 */
.sc-tooltip-right {
  &:before {
    margin-left: -11px;
    margin-bottom: -6px;
  }

  &:after { margin-bottom: -14px; }

  &:before, &:after {
    left: 100%;
    bottom: 50%;
  }

  &:hover:before, &:focus:before { @include transform(translateX(8px)); }
  &:hover:after, &:focus:after { @include transform(translateX(8px)); }
}

/**
 * left tooltip
 */
.sc-tooltip-left {
  &:before {
    margin-right: -11px;
    margin-bottom: -6px;
  }

  &:after { margin-bottom: -14px; }

  &:before, &:after {
    right: 100%;
    left: auto;
    bottom: 50%;
  }

  &:hover:before, &:focus:before { @include transform(translateX(-8px)); }
  &:hover:after, &:focus:after { @include transform(translateX(-8px)); }
}

/**
 * top-left tooltip
 */
.sc-tooltip-top-left {
  &:before, &:after {
    bottom: 100%;
    left: 50%;
  }

  &:before {
    margin-bottom: -11px;
    left: calc(50% - 6px);
  }

  &:after {
    @include transform(translateX(-100%));
    margin-left: 12px;
  }

  &:hover:before, &:focus:before { @include transform(translateY(-8px)); }
  &:hover:after, &:focus:after { @include transform(translateX(-100%) translateY(-8px)); }
}

/**
 * top-right tooltip
 */
.sc-tooltip-top-right {
  &:before, &:after {
    bottom: 100%;
    left: 50%;
  }

  &:before {
    margin-bottom: -11px;
    left: calc(50% - 6px);
  }

  &:after {
    @include transform(translateX(0));
    margin-left: -12px;
  }

  &:hover:before, &:focus:before { @include transform(translateY(-8px)); }
  &:hover:after, &:focus:after { @include transform(translateY(-8px)); }
}

/**
 * bottom-left tooltip
 */
.sc-tooltip-bottom-left {
  &:before, &:after {
    top: 100%;
    left: 50%;
  }

  &:before {
    margin-top: -11px;
    left: calc(50% - 6px);
  }

  &:after {
    @include transform(translateX(-100%));
    margin-left: 12px;
  }

  &:hover:before, &:focus:before { @include transform(translateY(8px)); }
  &:hover:after, &:focus:after { @include transform(translateX(-100%) translateY(8px)); }
}

/**
 * bottom-right tooltip
 */
.sc-tooltip-bottom-right {
  &:before, &:after {
    top: 100%;
    left: 50%;
  }

  &:before {
    left: calc(50% - 6px);
    margin-top: -11px;
  }

  &:after {
    @include transform(translateX(0));
    margin-left: -12px;
  }

  &:hover:before, &:focus:before { @include transform(translateY(8px)); }
  &:hover:after, &:focus:after { @include transform(translateY(8px)); }
}

/**
 * sizes tooltip
 */
.sc-tooltip-sm,
.sc-tooltip-md,
.sc-tooltip-lg {
  &:after { white-space: normal; }
}

.sc-tooltip-sm:after { width: $tooltop-sm; }
.sc-tooltip-md:after { width: $tooltop-md; }
.sc-tooltip-lg:after { width: $tooltop-lg; }

/**
 * keep always tooltip
 */
.sc-tooltip-always {
  &:not(.sc-tooltip-never) {
    &:after, &:before {
      opacity: 1;
      visibility: visible;
    }
  }

  &[sc-tooltip]:not(.sc-tooltip-top-left):not(.sc-tooltip-top-right):not(.sc-tooltip-bottom-left):not(.sc-tooltip-bottom-right):not(.sc-tooltip-bottom):not(.sc-tooltip-left):not(.sc-tooltip-right),
  &.sc-tooltip-top {
    &:before { @include transform(translateY(-8px)); }
    &:after { @include transform(translateX(-50%) translateY(-8px)); }
  }

  &.sc-tooltip-top-left {
    &:before { @include transform(translateY(-8px)); }
    &:after { @include transform(translateX(-100%) translateY(-8px)); }
  }

  &.sc-tooltip-top-right {
    &:before { @include transform(translateY(-8px)); }
    &:after { @include transform(translateY(-8px)); }
  }

  &.sc-tooltip-bottom {
    &:before { @include transform(translateY(8px)); }
    &:after { @include transform(translateX(-50%) translateY(8px)); }
  }

  &.sc-tooltip-bottom-left {
    &:before { @include transform(translateY(8px)); }
    &:after { @include transform(translateX(-100%) translateY(8px)); }
  }

  &.sc-tooltip-bottom-right {
    &:before { @include transform(translateY(8px)); }
    &:after { @include transform(translateY(8px)); }
  }

  &.sc-tooltip-left {
    &:before { @include transform(translateX(-8px)); }
    &:after { @include transform(translateX(-8px)); }
  }

  &.sc-tooltip-right {
    &:before { @include transform(translateX(8px)); }
    &:after { @include transform(translateX(8px)); }
  }
}
